﻿@model IEnumerable<LandingPad.Models.Writing>

@{
    ViewBag.Title = "Home Page";
}

<body>

    <style>
        #fixedbutton {
        }

        div.lower_menu {
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            bottom: 0px;
            width: 100%;
            left: 0px;
            vertical-align: middle;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: auto;
        }
    </style>

    <center>
        <h2>
            Welcome to LandingPad
        </h2>

        @*?ref_src=twsrc%5Etfw*@

        @*Testing to see if this works*@
        @if (Convert.ToDateTime(@ViewBag.EndTime) > DateTime.Now)
        {
                //<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>


            <a class="twitter-timeline" data-width="600" data-height="300" data-link-color="#19CF86" href="https://twitter.com/@ViewBag.TwitterName">Tweets by @ViewBag.TwitterName</a>
            //<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        }

        @*<blockquote class="twitter-tweet" data-width="550" data-link-color="#19CF86"><p lang="en" dir="ltr">here we are again</p>&mdash; SquareOne (SquareOne2018) <a href="https://twitter.com/SquareOne2018/status/991415441225531392?ref_src=twsrc%5Etfw">May 1, 2018</a></blockquote>*@

        <div class="lower_menu">
            <div class="center">
                @if (Convert.ToDateTime(@ViewBag.EndTime) > DateTime.Now)
                {
                    <button id="fixedbutton" onclick="tweetTweet()">Tweet</button>
                    //<a href="https://twitter.com/intent/tweet" class="twitter-share-button" ></a> //This makes it work on local? for somereason without it it doesnt work

                }
                <input type="button" value="Create Writing" onclick="location.href='@Url.Action("Create", "Writing", new {controller = "Writing" })'" />
            </div>
        </div>

        <script>
            function tweetTweet() {
                var url = "https://twitter.com/intent/tweet";
                //var text = document.getElementById("my-tweet").value;
                var text = "";
                //var hashtags = "hi,hello,testing";
                var via = "";
                window.open(url +
                    "?text=" + text +
                    ";via=" + via,
                    "", "width=500,height=300");
            }
        </script>


        @*<h2>Likes</h2>

            <a class="twitter-timeline" data-width="700" data-height="400" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/SquareOne2018/likes?ref_src=twsrc%5Etfw">Tweets Liked by SquareOne2018</a>

            <h2>Tweet</h2>

            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>*@

        @*<h2> Search </h2>

            <a class="twitter-timeline" href="https://twitter.com/hashtag/dogs" data-widget-id="983163928451493888">#dogs Tweets</a>

            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>*@

        @*<h2>Lists</h2>

            <a class="twitter-timeline" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/SquareOne2018/lists/list-number-one?ref_src=twsrc%5Etfw">A Twitter List by SquareOne2018</a>*@

    </center>


    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">

    </script>

</body>
@*<input type="button" value="View" onclick="location.href='@Url.Action("ViewWriting", "Writing", new { id = item.WritingID, controller = "Writing" })'" />*@

@foreach (var item in Model)
{
    @Html.Partial("../Writing/_WritingPreview", item)
}

