﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("LandingPad", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse in" id="myNav">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Penfolio <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Home", "Index", "Writing")</li>
                        <li>@Html.ActionLink("Testing Settings", "Settings", "Writing")</li>
                        <li>@Html.ActionLink("Post New Writing", "Create", "Writing")</li>
                        <li>@Html.ActionLink("Store", "Store", "Upload")</li>
                        <li>@Html.ActionLink("Friends", "Friends", "Writing")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Twitter Settings", "Settings", "Home")</li>
                        <li>@Html.ActionLink("My Profile", "Details", "LPProfiles")</li>
                        <li>@Html.ActionLink("Profile Settings", "Edit", "LPProfiles")</li>
                    </ul>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
